br
.row
  .col-sm-12.col-md-12.col-lg-12
    .float-left
      = I18n.t('.tenants_title')
    .float-right
      => link_to I18n.t('.tenants.new_tenant'), new_admin_tenant_path, class: 'btn btn-primary'
br
.row
  .col-sm-12.col-md-12.col-lg-12
    table.table.table-striped
      tr
        th= I18n.t('.tenants.tenant_name')
        th= I18n.t('.tenants.added_by')
        th= I18n.t('.tenants.date_on')
        th= I18n.t('.tenants.campaigns')
        th= I18n.t('.tenants.client_list')
        th= I18n.t('.delete')
      = render partial: 'row', collection: all_tenants, as: :tenant
