- if current_tenant_user.campaign_admin?
  .row
    .col-sm-12
      .float-right
        => link_to I18n.t('.products.new_product'), new_forum_product_path(forum),
                                                    remote: true, class: 'btn btn-primary'
br
.row
  .col-sm-12
    table.table.table-striped.products
      tr
        th= I18n.t('.products.product')
        th= I18n.t('.products.owner')
        th= I18n.t('.products.added_at')
        - if current_tenant_user.campaign_admin?
          th= I18n.t('.delete')
      = render partial: 'products/row', collection: all_products, as: :product
    .col-md-5.form= render 'products/form', forum: forum if current_tenant_user.campaign_admin?
