.row
  .col-sm-12.text-center
    = simple_form_for 'tenant', url: admin_import_tenants_path, method: :post, html: { multipart: true } do |f|
      .form-group= f.input :file, as: :file, input_html: { class: 'form-control' },
                                             label: I18n.t('.select_file')
      = f.submit 'Import Tenant', class: 'btn btn-primary'
