br
.row
  .col-sm-12.col-md-12.col-lg-12
    .float-left
      = I18n.t('.campaign_influencers.campaign_influencers')
    .float-right
      => link_to I18n.t('.campaign_influencers.add_influencers'), new_admin_campaign_influencer_searches_path(campaign), class: 'btn btn-primary'
br
.row
  .col-sm-12.col-md-12.col-lg-12
    table.table.table-striped
      tr
        th= I18n.t('.campaign_influencers.first_name')
        th= I18n.t('.campaign_influencers.surname')
        th= I18n.t('.campaign_influencers.status')
        th= I18n.t('.campaign_influencers.last_login')
        th= I18n.t('.campaign_influencers.email')
        th= I18n.t('.campaign_influencers.score')
        th= I18n.t('.campaign_influencers.contract')
        th= I18n.t('.campaign_influencers.delete')
      = render partial: 'admin/campaign_influencers/row', collection: campaign_influencers, as: :c_i
