= I18n.t('.campaign_influencers.influencers_query')

= simple_form_for 'query', url: admin_campaign_campaign_influencer_path(campaign), method: :put do |f|
  .row
    .col-sm-12.col-md-12.col-lg-6.text-left
      .form-group
