- if task.survey?
  .only-desktop
    = link_to_unless task_completed?(task), task_completed?(task) ? I18n.t('.tasks.completed') : I18n.t('.tasks.complete_survey_now'), campaign_task_survey_path(campaign, task), class: 'btn btn-primary'
  .only-mobile
    = link_to_unless task_completed?(task), task_completed?(task) ? I18n.t('.tasks.completed') : I18n.t('.tasks.complete_survey_now'), task.survey_link, target: :blank, class: 'btn btn-primary'
- else
  = simple_form_for 'task_user', url: campaign_task_task_users_path(campaign, task), remote: true do |f|
    = hidden_field_tag :page_type, params[:type]
    = f.input :completed, as: :boolean, label: I18n.t('.tasks.done'), label_html: { for: "task_completed_#{task.id}" }, input_html: { data: { behavior: 'live-update' }, checked: task_completed?(task), id: "task_completed_#{task.id}" }
