.col-sm-6
  .float-right
    - if topic.closed
      => link_to I18n.t('.topics.open'), category_topic_path(category, closed: false),
                                         class: 'btn btn-primary'
    - else
      => link_to I18n.t('.topics.close'), category_topic_path(category, closed: true),
                                          class: 'btn btn-primary'
  .float-right
    button.btn.btn-primary[type='button' data-toggle='modal' data-target='#referred_modal']=I18n.t('.topics.duplicate')
    = render 'shared/modal', id: 'referred_modal',
                             category: category,
                             title: I18n.t('.topics.duplicate'),
                             form: 'topics/duplicate_form'
