= simple_form_for :topic, url: category_topics_path(parent_id), remote: true do |f|
  = f.hidden_field :user_id, value: current_tenant_user.id
  .form-group= f.input :subject, required: true, input_html: { class: 'form-control' }, label: I18n.t('.topics.topic')
  .form-group
    .text-center= f.submit I18n.t('.save'), class: 'btn btn-primary'
