.row
  .col-sm-12
    .float-right
      - unless topic.closed
        button.btn.btn-primary[type='button' data-toggle='modal' data-target='#post_modal']=I18n.t('.posts.add_post')
        = render 'shared/modal', id: 'post_modal',
                                 parent_id: topic.id,
                                 title: I18n.t('.posts.new_post'),
                                 form: 'posts/form'

br
.row
  .col-sm-12
    .posts= render partial: 'posts/row', collection: posts, as: :post
