tr
  th= link_to "#{task.name}", edit_admin_campaign_task_path(campaign, task)
  th= link_to "#{task.owner&.email}", edit_admin_campaign_task_path(campaign, task)
  th= link_to "#{task.created_at.strftime('%d %b %Y')}", edit_admin_campaign_task_path(campaign, task)
  th= link_to "#{task.due&.strftime('%d %b %Y')}", edit_admin_campaign_task_path(campaign, task)
  th
    = link_to admin_campaign_task_path(campaign, task), method: :delete, data: { confirm: "Delete Task: #{task.name}?" } do
      | &#x2718
