br
.row
  .col-sm-12.col-md-12.col-lg-12
    .float-left
      = I18n.t('tasks.influencers_tasks')
      ' :
    .float-right
      => link_to I18n.t('.add'), new_admin_campaign_task_path(campaign), class: 'btn btn-primary'
br
.row
  .col-sm-12.col-md-12.col-lg-12
    table.table.table-striped
      tr
        th= t('tasks.task_name')
        th= t('tasks.added_by')
        th= t('tasks.on')
        th= t('tasks.due')
        th= I18n.t('.delete')
      = render partial: 'admin/tasks/row', collection: tasks, as: :task
