br
.row
  .float-left
    = I18n.t('.influencers_title')

.row
  .col-md-3.col-lg-4
  .col-sm-12.col-md-12.col-lg-6
    = simple_form_for :influencers_import, url: admin_influencers_imports_path,
                                           html: { multipart: true } do |f|
      .form-group= f.input :file, as: :file, input_html: { class: 'form-control' },
                                             label: I18n.t('.select_file')
      .form-group.text-center= f.submit I18n.t('.import'), class: 'btn btn-primary'
  .col-md-3.col-lg-4
