#changeAvatar.modal.fade aria-hidden="true" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .modal-header
        h5.modal-title= I18n.t('.avatars.change_avatar')
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true"  &times;
      .modal-body
        = simple_form_for 'user', url: avatar_path(subdomain == 'siteadmin' ? current_user : current_tenant_user), method: :patch do |f|
          = f.input :avatar, as: :file, label: false
          br
          = f.submit I18n.t('.avatars.upload')
      .modal-footer
        button.btn.btn-secondary data-dismiss="modal" type="button"= I18n.t('.close')
