.modal.fade[role='dialog' id="#{id}"]
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title
          .float-left= title
        button.close#close_modal[type='button' data-dismiss='modal']
          | ×
      .modal-body= render form, parent_id: local_assigns[:parent_id]
