#password-reset-modal.modal.fade aria-hidden="true" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .modal-body
        - if user
          = I18n.t('.modal.password_reset_sent')
        - else
          = I18n.t('.modal.password_reset_not_found')
      .modal-footer
        button.btn.btn-secondary data-dismiss="modal" type="button"= I18n.t('.close')
