tr
  th= link_to "#{campaign.project_name}", edit_admin_campaign_path(campaign, tenant: campaign.tenant&.id)
  th= link_to "#{campaign.owner&.email}", edit_admin_campaign_path(campaign, tenant: campaign.tenant&.id)
  th= link_to "#{campaign.start_date&.strftime('%d %b %Y')}", edit_admin_campaign_path(campaign, tenant: campaign.tenant&.id)
  th= link_to "#{campaign.end_date&.strftime('%d %b %Y')}", edit_admin_campaign_path(campaign, tenant: campaign.tenant&.id)
  th= link_to campaign.tenant.name, edit_admin_tenant_path(campaign.tenant)
  th
    = link_to admin_campaign_path(campaign), method: :delete, data: { confirm: "Delete Campaign: #{campaign.project_name}?" } do
      | &#x2718
