br
.row
  .col-md-12
    = I18n.t('.tickets.request_help')
.row
  .col-md-3.col-lg-4
  .col-sm-12.col-md-6.col-lg-4
    = simple_form_for(:ticket, url: tickets_path) do |f|
      .form-group= f.input :email, required: true, input_html: { class: 'form-control' }, label: I18n.t('.email')
      .form-group= f.input :text, required: true, as: :text, input_html: { class: 'form-control' }, label: I18n.t('.tickets.enter_text')
      .float-left= f.submit I18n.t('.send'), class: 'btn btn-primary'
      .float-right= link_to I18n.t('.cancel'), root_path, class: 'btn btn-primary'
