br
.row
  .col-sm-12.col-md-12.col-lg-12
    .float-left
      = I18n.t(".contacts.contacts_#{type}")
    .float-right
      => link_to I18n.t('.add'), new_admin_contact_path(type, parent), class: 'btn btn-primary'
br
.row
  .col-sm-12.col-md-12.col-lg-12
    table.table.table-striped
      tr
        th= I18n.t('.contacts.title')
        th= I18n.t('.contacts.first_name')
        th= I18n.t('.contacts.surname')
        th= I18n.t('.contacts.email')
        th= I18n.t('.delete')
      = render partial: 'admin/contacts/row', collection: contacts, as: :contact, locals: { type: type, parent: parent }
