.row
  .col-sm-12.col-md-12.col-lg-6
    .text-left
      | #{I18n.t('.campaign_influencers.campaign')} #{campaign.project_name}
  .col-sm-12.col-md-12.col-lg-6
    .text-left
      | #{I18n.t('.campaign_influencers.tenant')} #{campaign.tenant.name}

.row
  .col-sm-12.col-md-12.col-lg-6
    .text-left
      = I18n.t('.campaign_influencers.influencers')

- if result.present?
  .text-right
    = label_tag 'select_all_influencers', I18n.t('.influencers.select_all_influencers'), class: 'btn btn-primary'
    = check_box_tag 'select_all_influencers'
  = form_for 'influencers', url: admin_campaign_campaign_influencers_path(campaign), method: :post do |f|
    .row
      .col-sm-12.col-md-12.col-lg-12
        table.table.table-striped
          tr
            th= t('.influencers.first_name')
            th= t('.influencers.surname')
            th= t('.influencers.gender')
            th= t('.influencers.email')
            th= t('.influencers.age')
            th= t('.influencers.status')
            th= t('.influencers.city')
            th= t('.influencers.post_code')
            th= I18n.t('.campaign_influencers.select')

          = render partial: 'row', collection: result, as: :influencer, locals: { f: f }
    = f.submit
- else
  = I18n.t('.campaign_influencers.no_results')
