.searches
  = I18n.t('.campaign_influencers_search')

  = simple_form_for influencer_search, url: admin_campaign_influencer_searches_path(campaign), remote: true do |f|
    .row
      .col-sm-12.col-md-12.col-lg-6.text-left
        .form-group= f.input :username, input_html: { class: 'form-control' }, required: false, label: I18n.t('.influencers.username')
        .form-group= f.input :first_name, input_html: { class: 'form-control' }, required: false, label: I18n.t('.influencers.first_name')
        .form-group= f.input :surname, input_html: { class: 'form-control' }, required: false, label: I18n.t('.influencers.surname')
        .form-group= f.input :email, input_html: { class: 'form-control' }, required: false, label: I18n.t('.influencers.email')
      .col-sm-12.col-md-12.col-lg-6.text-left
        .form-group= f.input :matrimonial_surname, input_html: { class: 'form-control' }, required: false, label: I18n.t('.influencers.matrimonial_name')
    hr
    .row
      .col-sm-12.col-md-12.col-lg-6.text-left
        .form-group= f.input :gender, input_html: { class: 'form-control' }, collection: User.genders.keys, required: false, label: I18n.t('.influencers.gender')
        .form-group= f.input :marital_status, input_html: { class: 'form-control' }, collection: User.marital_statuses.keys, required: false, label: I18n.t('.influencers.marital_status')
        .form-group= f.input :profession, collection: Profession.all.pluck(:name), input_html: { class: 'form-control' }, required: false, label: I18n.t('.influencers.profession')
        .form-group= f.input :personality_type, collection: PersonalityType.all.pluck(:name), input_html: { class: 'form-control' }, required: false, label: I18n.t('.influencers.personality_type')
      .col-sm-12.col-md-12.col-lg-6.text-left
        .form-group= f.input :birth_year, as: :integer, input_html: { class: 'form-control' },
                             required: false, label: I18n.t('.influencers.birth_year')
        .form-group= f.input :childrens, as: :integer, input_html: { class: 'form-control' },
                             default: 0, required: false, label: I18n.t('.influencers.childrens')
        .form-group
          label.custom-control.custom-checkbox
            = f.input :key_influencer, as: :boolean, class: 'custom-control-input',
                      type: :checkbox, required: false, label: I18n.t('.influencers.key_influencer')
        .form-group
          label.custom-control.custom-checkbox
            = f.input :friends_and_family, as: :boolean, class: 'custom-control-input',
                      type: :checkbox, required: false, label: I18n.t('.influencers.friends_and_family')
    hr
    .row
      .col-sm-12.col-md-12.col-lg-6.text-left
        .form-group= f.input :first_address, input_html: { class: 'form-control' }, required: false, label: I18n.t('.influencers.first_address')
        .form-group= f.input :second_address, input_html: { class: 'form-control' }, required: false, label: I18n.t('.influencers.second_address')
        .form-group= f.input :third_address, input_html: { class: 'form-control' }, required: false, label: I18n.t('.influencers.third_address')
        .form-group= f.input :city, input_html: { class: 'form-control' }, required: false, label: I18n.t('.influencers.city')
        .form-group= f.input :postal_code, as: :integer, input_html: { class: 'form-control' }, required: false, label: I18n.t('.influencers.postal_code')
      .col-sm-12.col-md-12.col-lg-6.text-left
        .form-group= f.input :interior, input_html: { class: 'form-control' }, required: false, label: I18n.t('.influencers.interior')
        .form-group= f.input :country, input_html: { class: 'form-control' }, required: false, collection: User.countries.keys, label: I18n.t('.influencers.country')
    hr

    .form-group.col-sm-12.col-md-12.col-lg-12
      .float-left= f.submit I18n.t('.search'), class: 'btn btn-primary'
      .float-right= link_to I18n.t('.cancel'), admin_campaign_campaign_influencers_path(campaign), class: 'btn btn-primary'
