.ticket data-ticket-id=ticket.id
  .row
    .col-sm-12.col-md-1.col-lg-1
      = ticket.id
    .col-sm-12.col-md-4.col-lg-4
      = ticket.email
    .col-sm-12.col-md-4.col-lg-4
      = ticket.text
      - if ticket.campaign_influencer
        span.only-mobile= link_to inline_svg('svg/file.svg'), ticket.campaign_influencer.contract.url , target: '_blank'
        span.only-desktop= link_to I18n.t('.download_contract'), ticket.campaign_influencer.contract.url, class: 'btn btn-primary', target: '_blank'
    .col-sm-12.col-md-5.col-lg-3
      - if ticket.closed
        .float-right
          span.only-mobile= link_to inline_svg('svg/reopen.svg', width: 32, height: 32), admin_ticket_path(ticket, closed: false), method: :put
          span.only-desktop= link_to I18n.t('.tickets.open'), admin_ticket_path(ticket, closed: false), method: :put, class: 'btn btn-primary'
      - else
        .float-left
          span.only-mobile= link_to inline_svg('svg/reply.svg'), new_admin_ticket_reply_path(ticket), remote: true
          span.only-desktop=> link_to I18n.t('.tickets.reply'),  new_admin_ticket_reply_path(ticket), remote: true, class: 'btn btn-primary'
        .float-right
          span.only-mobile=> link_to inline_svg('svg/cancel-circle.svg'), admin_ticket_path(ticket, closed: true), method: :put
          span.only-desktop=> link_to I18n.t('.tickets.close'), admin_ticket_path(ticket, closed: true), method: :put, class: 'btn btn-primary'
    .col-sm-12
      = ticket.created_at
hr
