= simple_form_for :campaign_influencer, url: campaign_influencer_path(campaign_influencer), method: :patch, remote: true do |f|
  .form-group
    = f.input :contract, as: :file,
                       input_html: { class: 'form-control form-control-file' },
                       required: true
    = link_to campaign_influencer.contract.filename, campaign_influencer.contract&.url, target: '_blank' if campaign_influencer.contract&.url
  .form-group
    .text-center= f.submit I18n.t('.save'), class: 'btn btn-primary'
