br
.row
  .col-sm-12.col-md-12.col-lg-12
    .float-left
      = I18n.t('.campaign_administrators')
    .float-right
      => link_to I18n.t('.new_campaign_administrator'), new_admin_campaign_admin_path, class: 'btn btn-primary'
br
.row
  .col-sm-12.col-md-12.col-lg-12
    table.table.table-striped
      tr
        th= I18n.t('.username')
        th= I18n.t('.first_name')
        th= I18n.t('.surname')
        th= I18n.t('.email')
        th= I18n.t('.delete')
      = render partial: 'row', collection: campaign_admins, as: :admin
