= simple_form_for :post, url: topic_posts_path(parent_id), remote: true do |f|
  = f.hidden_field :user_id, value: current_tenant_user.id
  .form-group= f.input :text, as: :text, required: true, input_html: { class: 'form-control' }
  .form-group
    .text-center= f.submit I18n.t('.save'), class: 'btn btn-primary'
