= simple_form_for influencer, url: url do |f|
  .row
    .col-sm-12.col-md-12.col-lg-6.text-left
      .form-group= f.input :username, input_html: { class: 'form-control' }, required: true, label: I18n.t('.influencers.username')
      .form-group= f.input :first_name, input_html: { class: 'form-control' }, required: true, label: I18n.t('.influencers.first_name')
      .form-group= f.input :surname, input_html: { class: 'form-control' }, required: true, label: I18n.t('.influencers.surname')
      .form-group= f.input :country, input_html: { class: 'form-control' }, required: true, collection: User.countries.keys, label: I18n.t('.influencers.country')
      .form-group= f.input :email, input_html: { class: 'form-control' }, required: true, label: I18n.t('.influencers.email')
      .form-group= f.input :phone_type, input_html: { class: 'form-control' },
                           required: true, collection: User.phone_types.keys,
                           label: I18n.t('.influencers.phone_type')
      .form-group= f.input :phone_number, input_html: { class: 'form-control' }, required: true, label: I18n.t('.influencers.phone_number')
    .col-sm-12.col-md-12.col-lg-6.text-left
      .form-group= f.input :matrimonial_surname, input_html: { class: 'form-control' }, label: I18n.t('.influencers.matrimonial_name')
      .form-group= f.input :primary_language, input_html: { class: 'form-control' },
                           required: true, collection: User.primary_languages.keys,
                           label: I18n.t('.influencers.primary_language')
      .form-group
        label.required= I18n.t('.influencers.avatar')
        - if influencer&.avatar&.url
        br
        = image_tag influencer&.avatar&.url, width: 50, height: 50, class: 'tenant-logo'
        = f.input :avatar, label: false, input_html: { class: 'form-control form-control-file' }, required:false, type: :file
  hr
  .row
    .col-sm-12.col-md-12.col-lg-6.text-left
      .form-group= f.input :gender, input_html: { class: 'form-control' }, required: true, collection: User.genders.keys, label: I18n.t('.influencers.gender')
      .form-group= f.input :marital_status, input_html: { class: 'form-control' }, collection: User.marital_statuses.keys, label: I18n.t('.influencers.marital_status')
      .form-group= f.input :profession, collection: Profession.all.pluck(:name), input_html: { class: 'form-control' }, label: I18n.t('.influencers.profession')
      .form-group= f.input :personality_type, collection: PersonalityType.all.pluck(:name), input_html: { class: 'form-control' }, label: I18n.t('.influencers.personality_type')
    .col-sm-12.col-md-12.col-lg-6.text-left
      .form-group= f.input :birth_year, input_html: { class: 'form-control' }, required: true, label: I18n.t('.influencers.birth_year')
      .form-group= f.input :childrens, input_html: { class: 'form-control' }, default: 0, label: I18n.t('.influencers.childrens')
      .form-group
        label.custom-control.custom-checkbox
          = f.input :key_influencer, class: 'custom-control-input', type: :checkbox, label: I18n.t('.influencers.key_influencer')
      .form-group
        label.custom-control.custom-checkbox
          = f.input :friends_and_family, class: 'custom-control-input', type: :checkbox, label: I18n.t('.influencers.friends_and_family')
  hr
  .links.text-right
    = link_to_add_association I18n.t('.influencers.add_social_network'), f, :social_networks, class: 'btn btn-primary', data: { 'association-insertion-node' => '#social_networks', 'association-insertion-method' => 'append' }
  #social_networks
    = f.simple_fields_for :social_networks do |s_n|
      = render 'social_network_fields', f: s_n
  hr
  .row
    .col-sm-12.col-md-12.col-lg-6.text-left
      .form-group= f.input :first_address, input_html: { class: 'form-control' }, required: true, label: I18n.t('.influencers.first_address')
      .form-group= f.input :second_address, input_html: { class: 'form-control' }, label: I18n.t('.influencers.second_address')
      .form-group= f.input :third_address, input_html: { class: 'form-control' }, label: I18n.t('.influencers.third_address')
      .form-group= f.input :city, input_html: { class: 'form-control' }, required: true, label: I18n.t('.influencers.city')
      .form-group= f.input :postal_code, input_html: { class: 'form-control' }, required: true, label: I18n.t('.influencers.postal_code')
    .col-sm-12.col-md-12.col-lg-6.text-left
      .form-group= f.input :interior, input_html: { class: 'form-control' }, label: I18n.t('.influencers.interior')
  hr
  .row
    .col-sm-12.col-md-6.col-lg-12.text-center
      .form-group
        .float-left= f.submit I18n.t('.save'), class: 'btn btn-primary'
        .float-right= link_to I18n.t('.cancel'), admin_influencers_path, class: 'btn btn-primary'



