tr
  th= link_to "#{influencer.first_name}", edit_admin_influencer_path(influencer)
  th= link_to "#{influencer.surname}", edit_admin_influencer_path(influencer)
  th= link_to "#{influencer.gender&.first}", edit_admin_influencer_path(influencer)
  th= link_to "#{influencer.age}", edit_admin_influencer_path(influencer)
  th= link_to "#{influencer.marital_status&.first}", edit_admin_influencer_path(influencer)
  th= link_to "#{influencer.city}", edit_admin_influencer_path(influencer)
  th= link_to "#{influencer.country}", edit_admin_influencer_path(influencer)
  th= link_to "#{influencer.postal_code}", edit_admin_influencer_path(influencer)
  th
    = link_to admin_influencer_path(influencer), method: :delete, data: { confirm: "Delete Influencer: #{influencer.username}?" } do
      | &#x2718
