.nested-fields
  .row
    .col-sm-12.col-md-12.col-lg-6.text-left
      label.image-lb= I18n.t('.influencers.social_network')
      .form-group= f.input :kind, input_html: { class: 'form-control' }, collection: SocialNetwork.kinds.keys, label: false
    .col-sm-10.col-md-10.col-lg-5.text-left
      label.image-lb= I18n.t('.influencers.social_link')
      .form-group= f.input :url, input_html: { class: 'form-control' }, required: true, label: false
    .col-sm-2.col-md-2.col-lg-1.text-left
      br
      .form-group
        = link_to_remove_association f
          | &#x2718
