br
.row
  .col-sm-12.col-md-12.col-lg-12
    .float-left
      = I18n.t('.influencers_title')
    .float-right
      => link_to I18n.t('.influencers.new_influencer'), new_admin_influencer_path, class: 'btn btn-primary'
      => link_to I18n.t('.influencers.new_influencers'), admin_influencers_imports_path, class: 'btn btn-primary'

br
.row
  .col-sm-12.col-md-12.col-lg-12
    table.table.table-striped
      tr
        th= I18n.t('.influencers.first_name')
        th= I18n.t('.influencers.surname')
        th= I18n.t('.influencers.gender')
        th= I18n.t('.influencers.age')
        th= I18n.t('.influencers.status')
        th= I18n.t('.influencers.city')
        th= I18n.t('.influencers.country')
        th= I18n.t('.influencers.post_code')
        th= I18n.t('.delete')
      = render partial: 'row', collection: influencers, as: :influencer
