@media (max-width: $medium) {
  .burger {
    font-size: 2em;
    position: relative;
    top: 5px;
    left: 10px;
  }

  nav.burger-menu {
    transition: visibility .2s .2s ease-in;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    left: 0;
    position: absolute;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 6px;

    .btn { margin: 10px; }

    .nav-item {
      font-weight: 300;
      font-size: 16px;
    }
  }

  input#landing-burger {
    & + .nav {
      & + .burger-menu {
        transition: opacity .2s linear, visibility 0s linear .2s;
        background-color: gray;
        text-align: left;
        z-index: 0;
        overflow: hidden;
      }
    }
  }

  input#landing-burger:checked {
    & + .nav {
      transition: background-color .2s linear;
      background-color: white;
      box-shadow: 0 0 4px rgba(21,30,53,.15);
      z-index: 10;

      & + .burger-menu {
        visibility: visible;
        opacity: 1;
        z-index: 1;
        transition: opacity .2s linear, visibility 0s linear;
      }
    }
  }
}
