#logos {
  reset-counter: idx;

  .nested-fields {
    counter-increment: idx;

    .image-lb:after { content: " " counter(idx) ":"; }
  }
}

.campaign-logos {
  text-align: center;
  display: block;
  overflow: auto;
  margin-bottom: 15px;

  .top-left, .top-right, .top-center {
    margin: 0 5px;
    display: inline-block;
  }

  .top-left {
    float: left;
  }

  .top-right {
    float: right;
  }

  .full-size { display: none; }
}

#select_all_influencers {
  display: none;
}
