.only-mobile { display: none; }

@media (max-width: $medium) {
  .navbar.navbar-light.bg-light {
    hr { top: 89px; }

    .main-logo img { height: 220px; }
  }

  .user-avatar img { height: 50px; }

  .only-desktop { display: none; }
  .only-mobile { display: block; }
}

@media (min-width: $medium + 1px) and (max-width: 991px) {
  .navbar.navbar-light.bg-light {
    hr { top: 122px; }
  }
}
