.tasks {
  .task-description {
    display: none;
    margin-left: 20px;
  }

  .task-label {
    cursor: pointer;
    font-size: 1.3em;
  }

  input:checked[type='checkbox'] + .task-description { display: block; }

}

.embed-survey {
  .smcx-show, .smcx-embed > .smcx-iframe-container {
    max-width: 1200px;
    height: 70vh;
  }
}
