@import 'bootstrap';
@import 'variables';
@import 'text';
@import 'bootstrap_custom';
@import 'campaigns';
@import 'products';
@import 'tasks';
@import 'surveys';
@import 'tenants';
@import 'navigation';
@import 'mobile';
@import 'burger_menu';

a.main-logo {
  text-decoration: none;
  color: black;

  span {
    color: #68A2D9;
  }

  &:hover {
    color: black;
  }
}

a.dropdown-toggle {
  color: inherit;
  text-decoration: none;
}

.cover-fit { object-fit: cover; }
