.row
  .col-sm-12.text-center
    = simple_form_for 'tenant', url: admin_export_tenants_path, method: :post do |f|
      = hidden_field_tag :format, :json
      .form-group= f.input :tenant_id, collection: Tenant.all.map { |t| [t.name, t.id] }, input_html: { class: 'form-control col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-md-4' }
      = f.submit 'Export', class: 'btn btn-primary'
