= simple_form_for :product, url: forum_products_path(forum), remote: true do |f|
  = f.hidden_field :user_id, value: current_tenant_user.id
  .form-group= f.input :title, required: true, input_html: { class: 'form-control' }
  .form-group
    .float-left= f.submit I18n.t('.save'), class: 'btn btn-primary'
    .float-right= link_to I18n.t('.cancel'), campaign_forum_path(campaign),
                                             class: 'btn btn-primary'
