.float-right.only-desktop
  = image_tag user.avatar.url, height: 100, width: 100, class: 'user-avatar cover-fit' if user&.avatar&.url.present?
  .btn-group
    a.dropdown-toggle href='#' aria-expanded='false' aria-haspopup='true' data-toggle='dropdown'
      | #{I18n.t('.welcome')}: #{user.email}
    #email-dropdown.dropdown-menu.dropdown-menu-right
      = link_to I18n.t('.change_password'), edit_password_changes_path, class: 'dropdown-item'
      = link_to I18n.t('.change_language'), 'javascript:void(false);', class: 'dropdown-item', data: { toggle: 'modal', target: '#changeLanguage' }
      = link_to I18n.t('.avatars.upload_avatar'), 'javascript:void(false);', class: 'dropdown-item', data: { toggle: 'modal', target: '#changeAvatar' }
      = link_to I18n.t('.logout'), subdomain == 'siteadmin' ? admin_session_path : sessions_path, method: :delete, class: 'dropdown-item'
.only-mobile.text-center
  .user-avatar= image_tag user.avatar.url, height: 100, width: 100, class: 'cover-fit' if user&.avatar&.url.present?
  input#landing-burger.d-none type='checkbox'
  nav.nav.container.lg-container.full-screen-header
    .row
      .col-12
        = "#{I18n.t('.welcome')}: #{user.email}"
        label.burger for='landing-burger' ≡
  nav.burger-menu.text-center
    = link_to I18n.t('.change_password'), edit_password_changes_path, class: 'btn btn-light'
    br
    = link_to I18n.t('.change_language'), 'javascript:void(false);', class: 'btn btn-light', data: { toggle: 'modal', target: '#changeLanguage' }
    br
    = link_to I18n.t('.avatars.upload_avatar'), 'javascript:void(false);', class: 'btn btn-light', data: { toggle: 'modal', target: '#changeAvatar' }
    br
    = link_to I18n.t('.logout'), subdomain == 'siteadmin' ? admin_session_path : sessions_path, method: :delete, class: 'btn btn-light'
