doctype 5
html lang='en'
  head
    title InfluencesChain
    = csrf_meta_tags
    meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  body
    nav.navbar.navbar-light.bg-light
      hr
      .container
        .float-left
          = link_to root_path, class: 'main-logo' do
            = image_tag 'main_logo.png'
        - if current_user
          = render 'layouts/header', user: current_user
        - else
          .float-right= link_to I18n.t('.change_language'), 'javascript:void(false);', class: 'dropdown-item', data: { toggle: 'modal', target: '#changeLanguage' }

    .container
      br
      = flash_messages
      = yield

    = render 'shared/language_modal'
    = render 'shared/avatar_modal' if current_user
