doctype 5
html lang='en'
  head
    title InfluencesChain
    = csrf_meta_tags
    meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  body style="background-image: url(#{campaign_bg}); background-size: auto 100vh; background-repeat: no-repeat; background-attachment: fixed;"
    - if current_tenant_user
      nav.navbar.navbar-light.bg-light
        .container
          .float-left
            - if campaign&.use_tenant_logo || (campaign.nil? && tenant&.use_logo)
              = link_to root_path, class: 'main-logo' do
                = image_tag tenant.logo.url, width: 200, height: 100
          = render 'layouts/header', user: current_tenant_user
    - else
      .container
        .float-right
          = link_to I18n.t('.change_language'), 'javascript:void(false);', class: 'dropdown-item', data: { toggle: 'modal', target: '#changeLanguage' }

    .container
      br
      br
      br
      br
      br
      br
      = flash_messages
      = render 'shared/campaign_navigation' if campaign
      = yield

    = render 'shared/language_modal'
    = render 'shared/avatar_modal' if current_tenant_user&.influencer?
